div#ndp-nepali-box{
    font-family:"Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
    background-color:white;
    position:absolute;
    top:-999px;
    z-index:9999;
    padding:1px;
    border-radius: 8px;
    box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)
}

div#ndp-nepali-box .hidden{
    display:none
}

div#ndp-table-div{
    margin:0
}
div#ndp-table-div table{
    border-spacing:2px;
    border-collapse:separate
}
div#ndp-nepali-box td.ndp-date{
    padding:2px;
    color: #000;
}
div#ndp-nepali-box td.ndp-selected > a{
    background:#EFF6FF;
    color:#1D4ED8;
    text-align:center;
}
div#ndp-nepali-box td.ndp-current > a {
    background:#ced4da;
    text-align:center;
    font-weight:700
}
div#ndp-nepali-box td.ndp-current a{
    color:#e17009;
    display:block
}

div#ndp-nepali-box td.ndp-date a,div#ndp-nepali-box td.ndp-selected a{
    display:block;
    color: #495057;
    text-decoration:none;
    text-align:center;
    font-weight:700;
}
a.ndp-disabled{
    color:#ccc!important
}

div#ndp-nepali-box td.ndp-date:hover > a{
    background-color: #e9ecef;
}

div#ndp-nepali-box td.ndp-date a:hover{
    color:#1c94c4
}

div#ndp-nepali-box table,div#ndp-nepali-box td,div#ndp-nepali-box tr{
    font-size:12px;
    height:19px;
    line-height:19px;
    border-collapse:separate;
    border-spacing:2px
}

div#ndp-nepali-box a {
    text-decoration:none;
}

.ndp-days th,.ndp-header{
    text-align:center;
    font-weight:700
}

.ndp-header{
    font-size:13px;
    padding:0.5rem;
    margin:0;
    border-bottom: 1px solid #dee2e6;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#currentMonth{
    display:flex;
    gap:2px;
}

#currentMonth #ndp-month-select,#currentMonth #ndp-year-select{
    color:#000;
    font-size:12px;
    font-weight:400;
    padding:2px 1px 0;
    height:22px
}

#next, #prev {
    width: 24px;
    height: 24px;
    padding: 6px 8px;
    border-radius: 50%;
}

#next {
    padding: 4px 8px;
}

#next:hover, #prev:hover{
    background: #e9ecef;
}

#prev {
    order: -1;
}

.ndp-date > a, .ndp-selected > a,.ndp-current > a{
    padding: 5px 0 !important;
    height:30px;
    width:30px;
    display: block;
    border-radius: 50%;
}

.ndp-date > a:hover{
    color: unset !important;
}

.ndp-selected > a ,.ndp-current > a{
    color: #1D4ED8 !important;
}